<nav class="relative flex  items-center justify-between py-2  text-gray-500 hover:text-gray-700 focus:text-gray-700 ">
  <div class="container-fluid  flex flex-wrap items-center justify-between px-6">
    <div class="container-fluid">
      <a class="flex items-center text-gray-900 hover:text-gray-900 focus:text-gray-900 mt-2 lg:mt-0 mr-1" href="#">
        <img src="https://www.kindpng.com/picc/m/485-4850359_navbar-logo-hd-png-download.png" alt="Help and contact | Babolat official website Help Centre home page" style="height: 40px" alt="" loading="lazy" />
      </a>
    </div>
  </div>
  <div class="container-fluid">
        <nav class="user-nav" id="user-nav">
      
      <a class="submit-a-request" href="/hc/en-gb/requests/new"> Contact our experts </a>
    </nav>
  </div>
</nav>
<br>
