---
{
    "stream": {
        "$id": "babolat-details",
        "source": "knowledgeGraph",
        "destination": "pages",
      "filter": {
        "entityTypes": [
          "faq"
        ],
        "savedFilterIds":[
            "878833023"
            ]
      },
      "fields": [
        "id",
        "uid",
        "meta",
        "name",
        "slug",
        "question",
        "answer"
      ],
      "localization": {
          "locales": ["en"]
      }
    },
     "urlFormat": "{{slug}}.html"
}
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="Luc's Fashion Warehouse Home Page">
    {{>head}}
    {{!-- <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> --}}
    <!--Replace with your tailwind.css once created-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">

</head>
<style type="text/css">
  ol, ul {
    list-style: auto;
    margin: -23px;
    padding: 38px;
}
</style>
  <div class="container mx-auto px-4">
    <body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">

        {{>navbar}}
        <hr>
        <br>    

      <div class="flex justify-end">
  <div class="mb-3 xl:w-96">
    <div class="input-group relative flex  items-stretch w-full mb-4 rounded">
      <input type="search" class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
      <span class="input-group-text flex items-center px-3 py-1.5 text-base font-normal text-gray-700 text-center whitespace-nowrap rounded" id="basic-addon2">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
        </svg>
      </span>
    </div>
  </div>
</div>    
      <div class="flex flex-col justify-center items-center" style="align-items: baseline;">
                    <h1 style="font-size: 40px;font-weight: 3px;">{{question}}</h1>
                   <div > Ans:-{{convertRTFToHTML answer}}</div>
            </div>        
      
        <div class="article-votes" style="border-top: 1px solid #ddd;padding: 30px 0;text-align: center;box-sizing: border-box;display: block;">
            <span class="article-votes-question" id="article-votes-label">Was this article helpful?</span>
            <div class="article-votes-controls" role="group" aria-labelledby="article-votes-label">
              <button type="button" class="button article-vote article-vote-up" aria-label="This article was helpful" aria-pressed="false" style="margin: 10px 5px;min-width: 90px;width: auto;">Yes</button>
              <button type="button" class="button article-vote article-vote-down" aria-label="This article was not helpful" aria-pressed="false" style="margin: 10px 5px;min-width: 90px;width: auto;">No</button>
            </div>
            <small class="article-votes-count">
              <span class="article-vote-label">5 out of 5 found this helpful</span>
            </small>
          </div>
        
     

      {{>footer}}

    </body>


</html>