---
{
    "stream": {
        "$id": "babolat-details",
        "source": "knowledgeGraph",
        "destination": "pages",
      "filter": {
        "entityTypes": [
          "faq"
        ],
        "savedFilterIds":[
            "878833023"
            ]
      },
      "fields": [
        "id",
        "uid",
        "meta",
        "name",
        "slug",
        "question",
        "answer"
      ],
      "localization": {
          "locales": ["en"]
      }
    },
     "urlFormat": "{{slug}}.html"
}
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="Luc's Fashion Warehouse Home Page">
    {{>head}}
    {{!-- <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet"> --}}
    <!--Replace with your tailwind.css once created-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<style type="text/css">
  ol, ul {
    list-style: auto;
    margin: -23px;
    padding: 38px;
}
body > main {
    min-height: 65vh;
}
main {
    font-family: 'Prompt', sans-serif;
    display: block;
}
.container-divider {
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
}
.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 5%;
}
.container {
    padding: 0;
    width: 90%;
}
.article-container {
    display: flex;
    flex-direction: row;
}
.article-sidebar {
    border: 0;
    flex: 0 0 17%;
    height: auto;    
    margin-top: 31px;

}
.collapsible-sidebar {
    max-height: none;
    padding: 0;
}
.article {
    flex: 1 0 66%;
    max-width: 100%;
    min-width: 640px;
    padding: 0 30px;
}
.article-header {
    flex-direction: row;
    margin-top: 0;
}
.article-header {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 20px;
}
h1{
    font-size: xx-large;
    font-weight: bolder;
}
h2{
 font-weight: bolder; 
}
span#section-articles-title {
    font-weight: 600;
}
ol, ul {
    list-style: none;
    margin: -23px;
    padding: 21px;
}
</style>
  
    <body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal">

        {{>navbar}}
        <hr>
        <br>
<body>

  <main role="main">
   
<div class="container">
 
    

  <div class="article-container" id="article-container">
    <aside class="article-sidebar"
           aria-labelledby="section-articles-title">
        <div class="collapsible-sidebar">
          <span id="section-articles-title" class="collapsible-sidebar-title sidenav-title">
            Articles in this section
          </span>
        </div>
            </aside>


    <article id="main-content" class="article">
      <header class="article-header">
        <h1 title="Is it possible to buy or use a gift card on the site?" class="article-title">
          {{question}}
        </h1>

      

        
      </header>

      <section class="article-info">
        <div class="article-content">
          <div class="article-body"><p><span>{{ convertRTFToHTML answer}}</span></p></div>

          <div class="article-attachments">
            <ul class="attachments">
              
            </ul>
          </div>
        </div>
      </section>

        <div class="article-votes" style="border-top: 1px solid #ddd;padding: 30px 0;text-align: center;box-sizing: border-box;display: block;">
            <span class="article-votes-question" id="article-votes-label">Was this article helpful?</span>
            <div class="article-votes-controls" role="group" aria-labelledby="article-votes-label">
              <button type="button" class="button article-vote article-vote-up" aria-label="This article was helpful" aria-pressed="false" style="margin: 10px 5px;min-width: 90px;width: auto;">Yes</button>
              <button type="button" class="button article-vote article-vote-down" aria-label="This article was not helpful" aria-pressed="false" style="margin: 10px 5px;min-width: 90px;width: auto;">No</button>
            </div>
            <small class="article-votes-count">
              <span class="article-vote-label">5 out of 5 found this helpful</span>
            </small>
          </div>

      <div class="article-relatives">
        
        
           <h2 class="related-articles-title">Related articles</h2>
  <section class="related-articles">
    
     
    
    
  </section>


        
      </div>
      
    </article>
  </div>
</div>

  </main>
      {{>footer}}

    </body>
    <script>
Promise.all([
      fetch(
        "https://liveapi-sandbox.yext.com/v2/accounts/me/entities?api_key=b262ae7768eec3bfa53bfca6d48e4000&v=20211229&limit=25&entityTypes=ce_babolatMenu",
      ).then(response1=>{
          if(!response1.ok){
            throw Error("Error");
          }
          return response1.json();

        }),
      fetch(
        "https://liveapi-sandbox.yext.com/v2/accounts/me/entities?api_key=b262ae7768eec3bfa53bfca6d48e4000&v=20211229&limit=25&entityTypes=faq",
      ).then(response2=>{
          if(!response2.ok){
            throw Error("Error");
          }
          return response2.json();

        })
    ])
      .then(([result1, result2]) => {
         var html="";
        result1.response.entities.forEach((e,i)=>{
        if (e.name) {
           x=e.name;
           console.log(x);
         
        } else {
          console.log("No review found.");
            } 

       
      })
         result2.response.entities.forEach((l,i)=>{
         if(l.slug ="{{slug}}"){
          m=l.question;
          console.log(m);
          t=l.slug;
           html+='<div class="collapsible-sidebar-body">\
            <ul>\
                <li>\
                  <a href='+t+' class="sidenav-item current-article">'+ m +'</a>\
                </li>\
            </ul>\
          </div>';  
            
        } else {
         console.log("No review found.");
        }

      })
          $(".article-sidebar").append(html);
          $(".related-articles").append(html);
     })
      .catch((error) => console.log("error", error));
    



      
    </script>


</html>
